<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ControladorVendedores</servlet-name>
        <servlet-class>Controladores.ControladorVendedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVentas</servlet-name>
        <servlet-class>Controladores.ControladorVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetallesVentas</servlet-name>
        <servlet-class>Controladores.ControladorDetallesVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservacion</servlet-name>
        <servlet-class>Controladores.ControladorReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>Controladores.ControladorClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInventarios</servlet-name>
        <servlet-class>Controladores.ControladorInventarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorContrato</servlet-name>
        <servlet-class>Controladores.ControladorContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlan</servlet-name>
        <servlet-class>Controladores.ControladorPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuentaPago</servlet-name>
        <servlet-class>Controladores.ControladorCuentaPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetallePlan</servlet-name>
        <servlet-class>Controladores.ControladorDetallePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompras</servlet-name>
        <servlet-class>Controladores.ControladorCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetallesCompra</servlet-name>
        <servlet-class>Controladores.ControladorDetallesCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>Controladores.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controladores.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarioCRUD</servlet-name>
        <servlet-class>Controladores.ControladorUsuarioCRUD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorVendedores</servlet-name>
        <url-pattern>/ControladorVendedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVentas</servlet-name>
        <url-pattern>/ControladorVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetallesVentas</servlet-name>
        <url-pattern>/ControladorDetallesVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservacion</servlet-name>
        <url-pattern>/ControladorReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInventarios</servlet-name>
        <url-pattern>/ControladorInventarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorContrato</servlet-name>
        <url-pattern>/ControladorContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlan</servlet-name>
        <url-pattern>/ControladorPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuentaPago</servlet-name>
        <url-pattern>/ControladorCuentaPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetallePlan</servlet-name>
        <url-pattern>/ControladorDetallePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompras</servlet-name>
        <url-pattern>/ControladorCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetallesCompra</servlet-name>
        <url-pattern>/ControladorDetallesCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarioCRUD</servlet-name>
        <url-pattern>/ControladorUsuarioCRUD</url-pattern>
    </servlet-mapping>
    
    
</web-app>
